In [2]:
a = [1,2,3,4]
b = [5,6,7,8,9]
c = (a+b)*2
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list1 = [1, 2, [3, 4], 5] 
list2 = list1.copy() 
list2[2][0] = 99
print(list1)

[1, 2, [99, 4], 5]

In [6]:
list1 = [1, 2, [3, 4], 5] 
list2 = list1.copy() 
list2

[1, 2, [3, 4], 5]

In [10]:
list2[2][0] = 99
print(list1)

[1, 2, [99, 4], 5]

In [4]:
list1 = [1,2,3,4,5]
list2 = list1.copy()
print(list2)

[1, 2, 3, 4, 5]

In [5]:
list2[2]=22
print(list2)

[1, 2, 22, 4, 5]

In [11]:
my_list = [1, 2, 3, 4] 
my_list.remove(2) 
print(my_list)

[1, 3, 4]

In [12]:

lst = [1, 2, 3, 4] 
lst.insert(2, [5, 6]) 
print(lst)

[1, 2, [5, 6], 3, 4]

In [ ]:
lst = [1, 2, 3] 
lst *= 2 # 1,2,3,1,2,3
lst[3] = 4 # 1,2,3,4,2,3
print(lst)
# 1,2,3,4,2,3

[1, 2, 3, 4, 2, 3]

In [14]:
tup = (1, [2, 3], 4) 
tup[1][0] = 99 
print(tup)

(1, [99, 3], 4)

In [15]:
tup = (1, [2, 3], 4) 
tup[0] = 10
tup

TypeError: 'tuple' object does not support item assignment

In [17]:
tup = (1, [2, 3], 4) 
#o/p (1,[2,3,5],4)
tup[0]#1
tup[1]#[2,3]
tup[1].append(5)
tup[1].pop(1)
tup

(1, [2, 5], 4)

In [18]:
d = {'a': 1, 'b': 2, 'c': 3}
d.update({'b': 99, 'd': 100}) 
print(d)

{'a': 1, 'b': 99, 'c': 3, 'd': 100}

In [19]:
del d['b']

In [20]:
d

{'a': 1, 'c': 3, 'd': 100}

In [21]:
d.pop('c')
d

{'a': 1, 'd': 100}

In [23]:
set1 = {1, 2, 3}
set2 = {3, 4, 5} 
result = set1.intersection(set2) 
print(result)

{3}

In [28]:
set1 = {1, 2, 3}
set2 = {3, 4, 5} 
print(set1.union(set2))
print(set1|set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
set1.difference(set2)
# set1 = 1,2,3 -3 =1,2

{1, 2}

In [30]:
set1.symmetric_difference(set2)

{1, 2, 4, 5}

In [ ]:
set1 = {1, 2, 3} 
set2 = {2, 3, 4} 
set1.symmetric_difference(set2) 
print(set1)

{1, 2, 3}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print(s1.symmetric_difference(s2))

{1, 2, 6, 7}
None

In [36]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.symmetric_difference_update(s2))
s1

None

{1, 2, 3, 6, 7, 8}

In [39]:
print(s2.symmetric_difference_update(s1))
s2

None

{1, 2, 3, 4, 5}

In [41]:
x = 1
if x: 
  print("True")
else: 
  print("False")

True

In [ ]:
x = 10
while x > 0: # x=10 ,x=7 , x=4 ,x=1 ,x=-2
    x -= 3   # x = 7 ,4 ,1, x= 1-3=-2
    print(x, end=" ") #7,4,1,-2

7 4 1 -2

In [44]:
x = 10 
if x > 5 and x < 15: 
       print("A")
elif x < 20: 
    print("B")
else:
    print("C")

A

In [ ]:
x = 0 
while x < 5:  # x = 0 ,x=1 ,x = 2
 x += 1       # x = 1 ,x=2 ,x=3
 
 if x == 3:  #x=1 F ,x =2 F ,x==3 T
    break
 else: 
  print("Loop finished") #loop finished ,loop finshed

Loop finished
Loop finished

In [49]:
x = 0 
while x < 5:  # x = 0 ,x=1 ,x = 2
 x += 1       # x = 1 ,x=2 ,x=3
 
 if x == 3:  #x=1 F ,x =2 F ,x==3 T
    break
 else :
     print(x)
else: 
  print("Loop finished") #loop finished ,loop finshed

1
2

In [52]:
x = 3
y = 0 #6
while x > 0: #x = 3,x=2,x=1,x=0 F
       y += x # y = y+x=0+3=3,3+2=5, y=5,y = 5+1
       x -= 1 #x=x-1,3-1=2,x=2-1=1,0
print(y) #3,6,error,5,6

6

In [53]:
x = 0 
while x < 3: 
       print(x, end=" ") 
       x += 1 
else: 
  print("Done")

0 1 2 Done