Types of Error:1.Compile Time
                       1.Syntax Error 2.Indent
               2.Run-time Error

In [1]:
print('Hello)
print('Well-come')

SyntaxError: unterminated string literal (detected at line 1) (4280074462.py, line 1)

In [3]:
x = 4
name = 'abcd'
print(X)
print(name

SyntaxError: incomplete input (2006795671.py, line 4)

In [ ]:
for i in range(1,10):

IndentationError: expected an indented block after 'for' statement on line 1 (1410438499.py, line 2)

2.Run-time Errors

In [ ]:
#NameError
= 'Rajas'
print(name)

NameError: name 'name' is not defined

In [ ]:
#2.TypeError
x = 12
y = '30'
z = x+y
print(z)

42

In [ ]:
#ZeroDivisionError 
x = int(input("Enter a number"))
y = int(input("Enter a number"))
z = x/y
print(z) 
print("WEell-come")

ZeroDivisionError: division by zero

In [ ]:
#IndexError
list1 = [1,23,4,5,7,8,8]
list1[10]

IndexError: list index out of range

In [17]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [32]:
#without Using EH
x = int(input("Enter a number"))
y = int(input("Enter a number"))
z = x/y
print(z)

ZeroDivisionError: division by zero

In [ ]:
#using Exception Handling
try:
    x = int(input("Enter a number"))
    y = int(input("Enter a number"))
    z = x/y
    print(z) 
except ZeroDivisionError:
    print(f"you have enter y = {y} which is not correct plz enter a valid value ")
    
finally:   
    print("Well-come")

you have enter y = 0 which is not correct plz enter a valid value
WEell-come

In [21]:
print(Y1)

NameError: name 'Y1' is not defined

In [ ]:
Name = 'Urvashi'
print(Name)

NameError: name 'name' is not defined

In [24]:
x = int(input("Enter a number"))
print(x)

ValueError: invalid literal for int() with base 10: '10.56'

In [ ]:
try :
    x = int(input("Enter a number")) # 100 ,145.76
except ValueError :
    print( "Plz Enter Int Value") # 
else:
    print(x)
finally :
    print("Thank you......")

Plz Enter Int Value
Thank you......

In [31]:
try : 
     x = int(input("enter a number"))
     y = int(input("enter a number"))
     z = x+y
except ValueError  :
    print("Plz Enter a Correct Data Type to perform addition")  
else :
    print(z)
finally :
    print("Thank you........")

Plz Enter a Correct Data Type to perform addition
Thank you........

In [36]:
Age = int(input("Enter your age"))
if Age >= 21:
    print("Your Eligible forVoting")
else :
    print("Your not Eligible for Voting")

ValueError: invalid literal for int() with base 10: '23.5'

In [40]:
try :
    Age = int(input("Enter your age"))
    if Age >= 21:
         print("Your Eligible forVoting")
    else :
        print("Your not Eligible for Voting")  
except ValueError :
    print("Plz Enter a age in the formate of int")  
else :
    print(f"because Your Age is {Age}")

Plz Enter a age in the formate of int

Exceptions in Ds;

In [ ]:
list1 = [1,2,3,4,5,6,7,8]
list1[10]

:

In [ ]:
lis

In [5]:
try:
    list1 = [1,2,3,4,5,6,7,8]
    x = int(input("Enter index number"))
    l10 = list1[x]
except IndexError :
    print("Enter index between 0 to 7 ")
else :
    print(l10)  
finally :
    print("Keep Practicing")

6
Keep Practicing

In [7]:
try:
    list1 = [1,2,3,4,5,6,7,8]
    x = int(input("Enter index number"))
    l10 = list1[x]
except IndexError :
    print(f" IE :Enter index between 0 to 7 ")
except ValueError :
    print("plz enter index in int formate")    
else :
    print(l10)  
finally :
    print("Keep Practicing")

plz enter index in int formate
Keep Practicing

In [8]:
t1 = (1,2,3,4,5,6,7)
t1.append(8)
print(t1)

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
try :
    t1 = (1,2,3,4,5)
    t1.append(6)
except AttributeError :
    print("Tuple is immutable in nature")  
else :
    print(t1)

Tuple is immutable in nature

In [12]:
dict1 = {101:[12,32,44,54,65],
         'subject':['python','UI','Apti']}
dict1['Name']

KeyError: 'Name'

In [ ]:
try : 
    dict1 = dict1 = {101:[12,32,44,54,65],
         'subject':['python','UI','Apti']}
    key = input("Enter a key")
    dict1[key]
except KeyError :
    print("plz Enter a valid key")  
else :
    print(dict1[key]) 
finally :
    print(".............................")

plz Enter a valid key
..........................................................................

In [17]:
l1 = [1,2,3,4,5]
print([1,2,3] in l1)

False

In [19]:
l1 = [1,2,3,4]
l2 = [5,6,7,8,9]
print(l1/l2)

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [20]:
try:
    l1 = [1,2,3,4]
    l2 = [5,6,7,8,9]
    print(l1/l2)
except TypeError :
    print("plz Enter a valid operator")
else :
    print(l1/l2)

plz Enter a valid operator

In [22]:
try :
     str1 = 'yogita'
     print(str1
except SyntaxError :
    print("Syntax Error")
else :
    print(str1)

SyntaxError: '(' was never closed (534417605.py, line 3)

In [25]:
def add(x,y):
return x+y
add(10,20)

IndentationError: expected an indented block after function definition on line 1 (1712179563.py, line 2)

In [26]:
try :
    def add(x,y):
    return x+y
    add(10,20)
except IndentationError :
    print("Add Space")

IndentationError: expected an indented block after function definition on line 2 (3397427874.py, line 3)

In [27]:
def math(n):
    return n
math(10,20)

TypeError: math() takes 1 positional argument but 2 were given

In [30]:
try : 
    def math(num):
        return num
except TypeError :
    print("Enter a 1 parameter only")  
except ValueError :
    print("Enter int value only")     
else :
    print(math(num = int(input("Enter a number"))))

12

In [31]:
#Ex: for loop exception
for i in range:
    print(i)

TypeError: 'type' object is not iterable

In [32]:
try : 
    for i in range:
        print(i)
except TypeError :
    print("Enter a valid type")

Enter a valid type

In [42]:
str1 = input("Enter a string")
str2 = input("Enter second String")
if str1 == str3[::-1] :
    print("Palimdrom String")
else :
    print(" Not Palimdrom String")

NameError: name 'str3' is not defined

In [47]:
class number:
    def n1(self,n):
        return 
obj1 = number()  
print(obj1.n1(2))

None

In [54]:
try :
    class number:
        def n1(self,n):
           return 
    obj1 = number()  
    print(Obj1.n1(2))   
except NameError :
    print("Enter a valid variable name")
else:    
    print("........")

Enter a valid variable name

In [56]:

try :
    l2 = [23,43,54,32]
    l2[10]
    l1 = [1,2,3,4,5]
    l1[6]
except IndexError :
    print("Enter a valid Index")
else :
    print(l2[10],l1[6])
finally :
    print("Thank you..............")

Enter a valid Index
Thank you..............