In [2]:
x = int(input("Enter a number"))
y = int(input("Enter a number"))
print(f" Addition of {x} and {y} is : {x+y}")

 Addition of 43 and 65 is : 108

In [3]:
x = int(input("Enter a number"))
y = int(input("Enter a number"))
print(f" Addition of {x} and {y} is : {x+y}")

 Addition of 32 and 65 is : 97

In [4]:
x = int(input("Enter a number"))
y = int(input("Enter a number"))
print(f" Addition of {x} and {y} is : {x+y}")

 Addition of 32 and 65 is : 97

In [7]:
def add(x,y):
    return f" Addition of {x} and {y}: {x+y}"

print(add(23,43))
print(add(32,65))
print(add(32,54))

 Addition of 23 and 43: 66
 Addition of 32 and 65: 97
 Addition of 32 and 54: 86

Types of Functions:
                   1.Built-in function/Pre-defined function
                   2.User defined function
                   3.Lambda function
                   4.Recurssion function

In [ ]:
#1.Buit-in function:
l1 = [1,23,44,54,32]
(l1)

54

2.User-defined functions:
syntax: def Function_name():
               stat

         function_name()

In [9]:
def Name():
    return f"I am Yogita"
Name()

'I am Yogita'

In [ ]:
def Add(a,b,c):
    return a+b+c
print(Add(10,20,30))
print(Add(34,65,87))

In [ ]:
#1.Passing Single Parameter.
def number(num):
    return num
number(34)

In [17]:
#2.Multiple
def Numbers(num1,num2):
    return num1,num2
Numbers(12,54)

(12, 54)

In [ ]:
def Stud_Reg(Name,ID,Age,Address="Pune"):
    return f" Details of {Name} are ID: {ID} , Age: {Age} and Address :{Address}"
print(Stud_Reg("Soham",107,22,"Mumbai"))
print(Stud_Reg("Parth",109,22))
print(Stud_Reg("Riya",202,22,"Delhi"))

In [ ]:
def Info(Name,Id=100,Marks):#Wrong way to declear 
    return Name,Id,Marks
Info("Madhav",99)

In [26]:
def Info(Name,Marks,Id=100):
    return Name,Id,Marks
Info("Madhav",99,102)

('Madhav', 102, 99)

In [31]:
def Marks(Pratik,Jay,Tanay):
    return Tanay
print(Marks(24,54,32))
print(Marks(Tanay=24,Jay=23,Pratik=22))

32
24

In [33]:
def Marks1(num):
    return num
print(Marks1([1,23,45,65]))

[1, 23, 45, 65]

In [35]:
def Names(name):
    return name
print(Names({"Shrdha","Shruti","Pallavi","Teja"}))
print(Names({'Name':["Shrdha","Shruti","Pallavi","Teja"]}))

{'Pallavi', 'Shrdha', 'Teja', 'Shruti'}
{'Name': ['Shrdha', 'Shruti', 'Pallavi', 'Teja']}

In [39]:
def Python_Marks(*Marks):
    return sum(Marks)

print(Python_Marks(23))
print(Python_Marks(23,54))

23
77

In [42]:

def mul(a,b):
    return a*b
a = int(input("Enter a number"))
b = int(input("Enter anumber"))  
mul(a,b)

60

In [43]:
def mul(a,b):
    return a*b


mul(a = int(input("Enter a number")),b = int(input("Enter anumber"))  )

46

In [1]:
def Addition(a,b,c):
    return f"Addition of {a} , {b} and {c} : {a+b+c}"
a=int(input("Enter value of a"))
b=int(input("Enter value of b"))
c=int(input("Enter value of c"))

Addition(a,b,c)

'Addition of 12 , 32 and 54 : 98'

In [ ]:
#Wap to print Addition of all numbers from given list.
def Even_add(l1):
    return sum(l1)
Even_add([12,32,43,2,3,32,21])

145

1.take one list.
2.Add even............................one by one check elelments.(for this use for loop ,for cond use if...)

In [6]:
l1 = [1,2,3,4,5,6,7,8,9,10]
print(sum(l1))
l2 = []
for i in l1:
    if i%2==0:
        l2.append(i)
print(sum(l2))

55
30

In [ ]:
def Even_add(l1): #Create function with l1 seq..
    l2 = []       #Empty list for storing all even numbers.
    for i in l1:  # to perform itration on l1
        if i%2==0: # cond for checking i is even or not
            l2.append(i) #
    return sum(l2)        
Even_add([12,32,43,2,3,32,21])
#even:12,32,2,32

78

In [ ]:
#Wap to assign grade to student according to their marks.

In [14]:
def Grade_sys(marks):
    if marks>90 and marks<101: 
        return f"As you have {marks} so have A grade" 
    elif marks>80 and marks<91:
        return f"As you have {marks} so have B grade" 
    elif marks>60 and marks<81:
        return f"As you have {marks} so have C grade" 
    else :
        return f"As you have {marks} so have F grade"
    

print(Grade_sys(80))
print(Grade_sys(95))
print(Grade_sys(43))
print(Grade_sys(66))
print(Grade_sys(12))

As you have 80 so have C grade
As you have 95 so have A grade
As you have 43 so have F grade
As you have 66 so have C grade
As you have 12 so have F grade

In [ ]:

def Grade_sys(Name,marks):
    if marks>90 and marks<101: 
        return f"{Name} you have {marks} so your grade is A" 
    elif marks>80 and marks<91:
        return f"{Name} you have {marks} so your grade is B" 
    elif marks>60 and marks<81:
        return f"{Name} you have {marks} so your grade is C" 
    else :
        return f"{Name} you have {marks} so your grade is F"
    

print(Grade_sys("Jay",marks = int(input("Enter your marks"))))
#print(Grade_sys(marks = int(input("Enter your marks"))))
#print(Grade_sys(marks = int(input("Enter your marks"))))
#print(Grade_sys(marks = int(input("Enter your marks"))))

Jay you have 99 so your grade is A

In [ ]:
#Wap

joining months = ["Jan","Feb","Jan","Mar","April","May","May","Jan","Jan"]
joining_month = "Jan","Mar"
Your ID = 101,301

In [26]:
def Emp_Id(joining_month):
    #joining_months = ["Jan","Feb","Jan","Mar","April","May","May","Jan","Jan"]
    if joining_month == "Jan" :
        return f"Your Id is 101"
    elif joining_month=="Feb":
         return f"Your Id is 201"
    elif joining_month=="Mar":
         return f"Your Id is 301"
    elif joining_month=="April":
         return f"Your Id is 401"
    elif joining_month=="May":
         return f"Your Id is 501"
     
    else:
        return f"Plz Enter Months from Jan to May"
Emp_Id("May")

'Your Id is 501'

In [ ]:
#joining_months = ["Jan","Feb","Jan","Mar","April","May","May","Jan","Jan"]
#Names          = ["Riya","A","B","c","D","E","F","G","H"]
#OutPut         =  [101,201,101,301,401,501,501,301,301,101,101]
#o/p : riya your joining month is jan so your is is 101